
<div class="col-lg-12">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> HODL Balance</strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2> <%= balanceOf %> &nbsp <small> HODL</small></h2>
                            <p class="mb-0 w-text"><%= balanceOfUSD %> USD</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> Remainder Eth in HODL contract </strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2><%= remainderBalanceOf %> <small>Wei</small></h2>
                            <p class="mb-0 w-text"><%= remainderBalanceOfETH %> ETH</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3><strong> HODL in Pool </strong><br> <%= address%></h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2><%= poolBalanceOf %> &nbsp<small>HODL</small></h2>
                            <p class="mb-0 g-text">$0.06 USD</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
