<div class="col-lg-4">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>HODL Price $USD</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$ <%= public.currentPriceUSDCent%> <small> USD</small></h2>
                            <p class="mb-0 w-text"><%= public.priceIncreasePerCent%> %<i class="complete fa fa-arrow-up ml-10"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>HODL Price Eth</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2><%= public.getPriceOf %> <small> ETH</small></h2>
                            <p class="mb-0 w-text"><%= public.getPriceOfWei %> Wei<i class="complete fa fa-arrow-up ml-10"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>HODL Current Sell Pool</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2><%= public.getTokenBalanceOfPool %> &nbsp<small>  HODL</small></h2>
                            <p class="mb-0 g-text">Pool # <%= public.poolIndex %>  </p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
